body{
 
    background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/BVmFKuwPxiyef0p7o/loopable-crystal-background_bdgkfadpl_thumbnail-full01.png");
  
}

#header{
    background: rgb(151, 63, 31);
    height: 100px;
    width: 400px;
    text-align:center;
 
}
#instructions{
    background: rgb(230, 191, 106);
   
    height: 200px; 
    width: 600px;
}
#goal{
    background: rgb(120, 194, 120);
    height: 100px;
    width: 250px;
    
}
#scoreboard{
    background: rgb(34, 180, 224);
    height: 100px;
    width: 100px;
    
}

.crystalImage{
   float: left;
    
}

#counter{
    background: blue;
    height: 250px;
    width:250px;

}